<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <div class="" style="background-color: #065f46;height:100vh;width: 100%;color: white;">

        <div class="width:400px,height:400px">
            <h2>Account Verified</h2> <br />
            <h3>You can now Log in</h3>
        </div>

    </div>
</body>

</html>